{% extends "auth_base.html" %}

{% load certchain_extras %}

{% block content %}
<div class="container cc-container">
  <div class="row">
    <div id="cc-secure-links" class="span12">
      <span><a href="{% url 'certchain:overview' %}">Network Overview</a></span>
      <span>-</span>
      <span><a class="selected" href="{% url 'certchain:diplomas' %}">Certify and Revoke Diplomas</a></span>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h2>Certify a New Diploma</h2>
      <p>Fill out the diploma fields below; once submitted, a certification transaction will be sent out on the network for processing.</p>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div id="cc-new-diploma">
        <form method="post" action="{% url 'certchain:certify_diploma' %}">
          {% csrf_token %}
          <div>
            <label>Recipient</label>
            <input name="recipient" type="text"/>
          </div>
          <div>
            <label>Degree</label>
            <input name="degree" type="text"/>
          </div>
          <div>
            <label>Conferral Date</label>
            <input name="conferral_date" type="text"/>
          </div>
          <input class="cc-btn" type="submit" value="CERTIFY"/>
        </form>
      </div>
    </div>
  </div>

  <br/><br/>

  <div class="row">
    <div class="span12">
      <h2>All Diplomas</h2>
      <p>The list below reflects the current state of all diplomas certified by your institution on the CertChain network.</p>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <table class="table">
        <tr>
          <th>Transaction</th>
          <th>Recipient</th>
          <th>Degree</th>
          <th>Conferral Date</th>
          <th>Signature Timestamp</th>
          <th>Status</th>
          <th></th>
        </tr>
        {% for txn in txns %}
        <tr>
          <td><a href="{% url 'viewer' %}">{{ txn.txn_id | slice:"0:9" }}</a></td>
          <td>{{ txn.document | cc_extract_recipient }}</td>
          <td>{{ txn.document | cc_extract_degree }}</td>
          <td>{{ txn.document | cc_extract_conferral_date }}</td>
          <td>{{ txn.signature_ts | cc_format_sig_ts }}</td>
          <td>{{ txn.status }}</td>
          <td><a class="cc-btn" href="">REVOKE</a></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">Your institution has not certified any diplomas yet.</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock content %}


