{% extends "auth_base.html" %}

{% load certchain_extras %}

{% block content %}
<div class="container cc-container">
  <div class="row">
    <div id="cc-secure-links" class="span12">
      <span><a class="selected" href="{% url 'certchain:overview' %}">Network Status</a></span>
      <span>-</span>
      <span><a href="{% url 'certchain:diplomas' %}">Certify and Revoke Diplomas</a></span>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h2>Network Presence</h2>
      <p>Other institutions peer with your institution using the information below. </p>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <strong>Address</strong>: {{ network.our_inst_addr }}
      <br/>
      <strong>Hostname</strong>: {{ network.our_hostname }}
      <br/>
      <strong>Port</strong>: {{ network.our_port }}
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h2>Network Peers</h2>
      <p>Your institution maintains peering connections with the institutions below. </p>
    </div>
  </div>

  <!-- <div class="row">
    <div class="span8">
      <p>To trust an institution that has not yet been trusted by anyone else, enter their address here:</p>
    </div>
    <div id="cc-trust-arbitrary" class="span4">
      <form method="post" action="{% url 'certchain:trust_institution' %}">
        {% csrf_token %}
        <input name="addr_to_trust" type="text"/>
        <input type="submit" class="cc-btn" value="TRUST"/>
      </form>
    </div>
  </div> -->

  {% for _, peer in network.peer_map.items %}
  <div class="row">
    <div class="span12">
      <strong>Address</strong>: {{ peer.inst_addr }}
      <br/>
      <strong>Hostname</strong>: {{ peer.hostname }}
      <br/>
      <strong>Port</strong>: {{ peer.port }}
      <br/>
      <strong>Connection State</strong>: {{ peer.conn_state }}
    </div>
  </div>
  {% empty %}
  <div class="row">
    <div class="span12">
      <p id="cc-no-institutions">Your institution has no peers.</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}