{% extends "auth_base.html" %}

{% load certchain_extras %}

{% block content %}
<div class="container cc-container">
  <div class="row">
    <div id="cc-secure-links" class="span12">
      <span><a class="selected" href="{% url 'certchain:overview' %}">Network Overview</a></span>
      <span>-</span>
      <span><a href="{% url 'certchain:certifications' %}">Manage Certifications</a></span>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h2>Network Trust States</h2>
      <p>The institutions below have been registered on the network, and are accompanied by a list of those that trust them. In order to perform certifications and revocations on the network, an institution must maintain the trust of at least 75% of those peer institutions that are themselves trusted by at least one other institution.</p>
    </div>
  </div>

  <div class="row">
    <div class="span8">
      <p>To trust an institution that has not yet been trusted by anyone else, enter their address here:</p>
    </div>
    <div id="cc-trust-arbitrary" class="span4">
      <form method="post" action="{% url 'certchain:trust_institution' %}">
        {% csrf_token %}
        <input name="addr_to_trust" type="text"/>
        <input type="submit" class="cc-btn" value="TRUST"/>
      </form>
    </div>
  </div>

  {% for inst_addr, inst_trusting_addrs, trust_ratio in trust_list %}
  <div class="row cc-inst-trust-row">
    <div class="span8">
      <h3>{{ inst_addr | cc_addr_to_name }}</h3>
      <span class="{{ trust_ratio | cc_trust_ratio_class }}">{{ trust_ratio | cc_trust_ratio }}</span>
      <ul>
        {% for trusting_addr in inst_trusting_addrs %}
          <li>{{ trusting_addr | cc_addr_to_name }} ({{ trusting_addr }})</li>
        {% empty %}
          <li>No trusting institutions.</li>
        {% endfor %}
      </ul>
    </div>
    <div class="span4">
      {% if inst_addr in can_trust_insts %}
        <form method="post" action="{% url 'certchain:trust_institution' %}">
          {% csrf_token %}
          <input name="addr_to_trust" type="hidden" value="{{ inst_addr }}"/>
          <input type="submit" class="cc-btn" value="TRUST"/>
        </form>
      {% endif %}
      {% if inst_addr in can_revoke_insts %}
        <form method="post" action="{% url 'certchain:untrust_institution' %}">
          {% csrf_token %}
          <input name="addr_to_untrust" type="hidden" value="{{ inst_addr }}"/>
          <input type="submit" class="cc-btn" value="REVOKE TRUST"/>
        </form>
      {% endif %}
    </div>
  </div>
  {% empty %}
  <div class="row cc-inst-trust-row">
    <div class="span12">
      <p id="cc-no-institutions">There are no registered institutions on the network at this time.</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}