{% load staticfiles %}
{% load certchain_extras %}

<html>
  <head>
    <title>Certchain Document Viewer</title>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic' rel='stylesheet' type='text/css'>
    <link href="{% static 'certchain/css/viewer.css'%}" rel="stylesheet"/>
  </head>
  <body>
    <div id="document">
      <div id="cert-area" class="{{ msg_class }}">
        <span id="cert-status">{{ msg }}</span>
        <br/>
        {% if latest_txn_id %}
        <span id="cert-details">The underlying transaction data is publicly available at <a href="">{{ latest_txn_id }}.</a></span>
        {% endif %}
      </div>
      <div id="document-body">
        <span id="label-line1">{{ doc | cc_extract_recipient }}</span>
        <span id="label-line2">{{ doc | cc_extract_degree }}</span>
        <span id="label-line3">Conferred on {{ doc | cc_extract_conferral_date }}</span>
      </div>
    </div>
  </body>
</html>