{% load staticfiles %}
{% load certchain_extras %}

<html>
  <head>
    <title>Certchain Document Viewer</title>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic' rel='stylesheet' type='text/css'>
    <link href="{% static 'certchain/css/viewer.css'%}" rel="stylesheet"/>

    <script type="text/javascript" src="{% static 'certchain/js/jquery-1.10.2.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/wrapper.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/cryptojs.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/wordarrayconv.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/sjcl.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/bs58.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/verify.js'%}"></script>
  </head>
  <body>
    <div id="raw-data" style="display: none">{{ raw_data }}</div>
    <div id="document">
      <table id="verify-area" class="gray">
        <tr>
          <td>
            <span id="cert-status">Verifying document authenticity...</span>
            <ul>
              <li id="author-sig-valid">Is the block header signed by the authoring institution? <span class="yes">YES</span><span class="no">NO</span></li>
              <li id="peer-hash-valid">Are there one or more peers identified as signatories in the block header? <span class="yes">YES</span><span class="no">NO</span></li>
              <li id="all-peers-signed">Is the block header signed by all peers identified in the header? <span class="yes">YES</span><span class="no">NO</span></li>
              <li id="merkle-proof-valid">Does the provided Merkle inclusion proof resolve to the signed root? <span class="yes">YES</span><span class="no">NO</span></li>
              <li>Was this block published within the last hour? <span class="yes">YES</span><span class="no">NO</span></li>
            </ul>
          </td>
          <td>
            <img id="progress" src="{% static 'public/images/progress_bar.gif'%}"/>
          </td>
        </tr>
      </table>
      <div id="document-body">
        {% if document_override %}
        <span id="label-line1">INVALID</span>
        {% else %}
        <span id="label-line1">{{ doc.recipient }}</span>
        <span id="label-line2">{{ doc.degree }}</span>
        <span id="label-line3">Conferred on {{ doc.conferral_date }}</span>
        {% endif %}
      </div>
    </div>
  </body>
</html>