{% load staticfiles %}
{% load certchain_extras %}

<html>
  <head>
    <title>Certchain Document Viewer</title>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic' rel='stylesheet' type='text/css'>
    <link href="{% static 'certchain/css/viewer.css'%}" rel="stylesheet"/>

    <script type="text/javascript" src="{% static 'certchain/js/jquery-1.10.2.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/wrapper.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/cryptojs.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/wordarrayconv.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/sjcl.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/bs58.js'%}"></script>
    <script type="text/javascript" src="{% static 'public/js/verify.js'%}"></script>
  </head>
  <body>
    <div id="raw-data">{{ raw_data }}</div>
    <div id="document">
      <div id="cert-area" class="{{ msg_class }}">
        <span id="cert-status">{{ msg }}</span>
        <br/>
        {% if latest_txn_id %}
        <span id="cert-details">The underlying transaction data is publicly available at <a href="">{{ latest_txn_id }}.</a></span>
        {% endif %}
      </div>
      <div id="document-body">
        {% if document_override %}
        <span id="label-line1">INVALID</span>
        {% else %}
        <span id="label-line1">{{ doc.recipient }}</span>
        <span id="label-line2">{{ doc.degree }}</span>
        <span id="label-line3">Conferred on {{ doc.conferral_date }}</span>
        {% endif %}
      </div>
    </div>
  </body>
</html>