{% extends "base.html" %}

{% load certchain_extras %}
{% load staticfiles %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{% static 'public/css/student.css'%}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block content %}
<div class="container cc-container">

  {% for doc_type, certs in certs_by_type %}
  <div class="row student-header">
    <div class="span12">
      <h2>{{doc_type}}s</h2>
      <p>The student with ID {{ student_id }} has received the {{doc_type}}s listed below.</p>
    </div>
  </div>

  {% for cert in certs %}
  <div class="row student-doc">
    <div class="span12">
      <table>
        <tr>
          <td>
            <span class="type">{{ cert.doc_type }}</span>
            <span>Certified on {{ cert.cert_timestamp | cc_unix_epoch_to_date }}</span>
            {% if cert.rev_timestamp %}
            <span style="color: #D32020"><strong>Revoked on {{ cert.rev_timestamp | cc_unix_epoch_to_date }}</strong></span>
            {% endif %}
          </td>
          <td>
            <span class="id"><a href="{{ cert | cc_doc_viewer_url }}">{{ cert.doc_id }}</a></span>
          </td>
          <td>
            <a class="cc-btn" href="{{ cert | cc_doc_viewer_url }}">OPEN</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
  
</div>
{% endblock content %}


