{% extends "base.html" %}

{% load certchain_extras %}
{% load staticfiles %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{% static 'public/css/student.css'%}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block content %}
<div class="container cc-container">
  <div class="row">
    <div class="span12">
      <h2>Diplomas</h2>
      <p>The student with ID {{ student_id }} has received the diplomas listed below.</p>
    </div>
  </div>

  {% for c in certifications %}
  <div class="row student-doc">
    <div class="span12">
      <table>
        <tr>
          <td>
            <span class="type">{{ c.Certify.1 }}</span>
            <span>Certified __________</span>
            <span>Revoked __________</span>
          </td>
          <td>
            <span class="id"><a href="{% url 'public:document' c.Certify.0 %}">{{ c.Certify.0 }}</a></span>
          </td>
          <td>
            <a class="cc-btn" href="{% url 'public:document' c.Certify.0 %}">OPEN</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  {% empty %}
  <div class="row student-doc">
    <div class="span12">
      This student has not been issued any diplomas.
    </div>
  </div>
  {% endfor %}

  <br/>
  <div class="row">
    <div class="span12">
      <h2>Transcripts</h2>
      <p>The student with ID {{ student_id }} has received the transcripts listed below.</p>
    </div>
  </div>
</div>
{% endblock content %}


