.netnode {
  text-align: center;
  background-color: #474747;
  color: white;
  border-radius: 8px;
  box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.4);
  padding: 10px 0;
}

.netnode span {
  font-size: 1.4em;
  font-weight: bold;
}

.netnode-states {
  font-size: 1.2em;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 15px 8px 8px 8px;
  background-color: #F1F1F1;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.1);
}

.netnode-states table {
  width: 100%;
}

.netnode-states tr {
  height: 35px;
}

.netnode-states td:first-child,
.netnode-states td:last-child {
  text-align: center;
}

.netnode-states .peering-form {
  margin: 0 !important;
}

.cc-btn {
  font-size: 15px;
}

.state {
  border: 1px solid #7B7B7B;
  border-radius: 5px;
  padding: 1px 5px;
  margin-right: 8px;
}

.state.green {
  background-color: #AFFA8F;
}

.state.red {
  background-color: #FCA5A5;
}

.state.gray {
  background-color: #8B8B8B;
  color: white;
}

.state.yellow {
  background-color: #FFF776;
}

.peering-prompt {
  text-align: center;
}

.peering-prompt > .prompt {
  display: inline-block;
  padding-top: 7px;
  font-size: 1.3em;
  font-weight: bold;
}

.peering-prompt > .desc {
  display: inline-block;
  padding-top: 3px;
  font-size: 1em;
}

.peering-prompt .left-half {
  float: left;
  width: 50%;
  text-align: right;
}

.peering-prompt .right-half {
  float: right;
  width: 50%;
  text-align: left;
}

.peering-prompt > .options {
  display: block;
  margin-top: 10px;
}

.peering-prompt .cc-btn {
  font-size: 1em;
  width: 100px;
  margin: 15px 20px;
}

#add-node > form {
  margin: 0;
  padding: 0;
}

#add-node > form > div {
  display: inline-block;
  padding: 0 20px;
}

#add-node input[type='submit'] {
  margin-top: -10px;
  margin-left: 20px;
}

.forget-node {
  padding: 0;
  margin: 0;
}

.forget-node .cc-btn {
  margin: 10px;
}