body {
  background-color: #484848;
}

* {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.hidden {
  display: none;
}

#document {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  background-image: url('/static/certchain/images/diploma_bg.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
}

#verify-area {
  width: 90%;
  padding: 10px;
  margin-left: 45px;
  margin-top: 10px;
  font-size: 1.2em;
  line-height: 130%;
}

#verify-area tr {
  width: 100%;
}

.yes {
  font-size: 0.8em;
  background-color: #BBFF4B;
  border: 1px solid #81CA0C;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 5px;
  display: none;
}

.no {
  font-size: 0.8em;
  background-color: #FF9292;
  border: 1px solid #C60000;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 5px;
  display: none;
}

#verify-area li {
  color: gray;
}

#verify-area li.confirmed,
#verify-area li.invalid {
  color: black;
}

#verify-area li.confirmed .yes,
#verify-area li.invalid .no {
  display: inline !important;
}

#cert-status {
  font-weight: bold;
}

#cert-details {
  font-size: 0.9em !important;
}

#verify-area.green {
  background-color: #BBFF4B;
  border: 1px solid #81CA0C;
}

#verify-area.red {
  background-color: #FF9292;
  border: 1px solid #C60000;
}

#verify-area.yellow {
  background-color: #F6FF84;
  border: 1px solid #D6DE6C;
}

#verify-area.gray {
  background-color: #E1E1E1;
  border: 1px solid #5A5A5A;
}

#verify-area #progress {
  height: 18px;
  float: right;
  margin: 4px;
}

#verify-area ul {
  padding: 0px;
  margin: 5px 0px 0px 25px;
}

#document-body {
  padding-top: 200px;
}

#document-body > * {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  font-size: 2.3em;
}

#label-line1 {
  font-weight: bold;
}